<hgroup class="hero-unit" class="row-fluid">
    <h1>Socrates</h1>
    <p>The HTML5 Classroom App</p>
</hgroup>
<div class="row-fluid">
    <aside class=span3>
        <article class=schedule>
            <h1>Schedule</h1>
            <ol>
                <li
                	ng-repeat="lesson in lessons"
                	ng-class="{active: isActiveLesson($index)}"
                >
                	<time datetime={{lesson.pubDate}} pubdate>{{lesson.date}}</time>
                	&mdash;
                	<a href=lessons/{{lesson.id}}>
                		{{lesson.topic}}
                	</a>
                </li>
            </ol>
        </article>
    </aside>
    <section class=span9>
        <h1>Welcome to Socrates</h1>
        <schedule-carousel>
    </section>
</div>

